### Code ###
.vscode/*
!.vscode/launch.json
!.vscode/settings.json

### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/

# Distribution / packaging
.Python
build/
dist/
MANIFEST

# PyInstaller
*.manifest
*.spec